html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18 px;
}

body {
    line-height: 1;
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/* UTILIDADES */
.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

/* ////////////////////////////////////////////////////// */

/* HEADER */
@media (min-width: 950px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background: url(/img/fondo5.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 70vh;
    margin: 0;
    min-height: 550px;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.site-header a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.site-header h1 {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 500;
    font-weight: bold;
    /* padding-top: 32px; */
    font-family: 'Roboto Condensed', sans-serif;
}

.site-header h2 {
    margin-top: 22px;
}

.site-header p {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    padding-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.site-header span {
    font-weight: 700;
}

/* NAVEGACION */
.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.4rem;
    padding: 10px 0;
    padding-right: 20px;
}

.navegacion a:last-of-type {
    padding-right: 0;
}

@media (min-width: 950px) {
    .navegacion a {
        display: inline;
        font-weight: 400;
    }

    .navegacion a:hover {
        /* font-size: 22px; */  
        opacity: .7;
        transition: .5s;
    }

}

.navegacion {
    margin: 30px 0;
}

/* HEADER TEXTO */
.texto-header {
    color: white;
    text-align: center;
    margin-top: 30px 0;
}

.texto-header {
    margin-top: 8rem;
}

@media (max-width: 950px) {
    .texto-header {
        margin: 3rem;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    /* line-height: 2; */
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

/* GRID */
@media (min-width: 800px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .centrar-columnas {
        justify-content: center;
    }

    .columas10 {
        flex: 0 0 calc(83.3% - 1rem);
    }

}

/* CONTACTO */
.formulario-contacto {
    background: white;
    padding: 5rem;
}

.formulario-contacto {
    /* box-shadow: 10px 5px 5px rgba(0, 0, 0, .1); */
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
}

@media (min-width: 800px) {
    .formulario-contacto {
        margin-top: -47%;
        display: flex;
        /* flex: 0 0 calc(83.3% - 0rem); */
        border-radius: 1vh;
        background: white;
    }
}

@media (max-width: 800) {
    .formulario-contacto {
        /* background: rgba(0, 0, 0, 0.02); */
        border-radius: 1vh;
    }
}

.formulario-contacto .campo {
    display: block;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.formulario-contacto .campo label {
    flex: 0 0 8rem;
    padding: 10px;
}

.formulario-contacto .campo input:not([type="submit"]), #opciones {
    flex: 1;
    bordeR: 1px solid gray;
    padding: 1rem;
    margin-top: 1.3rem;
}

.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}

.btn-enviar {
    border: none;
    border-radius: 1vh;
    padding: 8px 12px;
    font-size: 1.8rem;
    background: limegreen;
    color: white;
}

@media (max-width: 800px) {
    .btn-enviar {
        border: none;
        border-radius: 1vh;
        padding: 7px 20px;
        font-size: 2.1rem;
        width: 100%;
        background: limegreen;
        color: white;
    }
}

.btn-enviar:hover {
    font-size: 2.1rem;
    background: dodgerblue;
    transition: .4s;
    cursor: pointer;
}

label:hover {
    color: dodgerblue;
}

input {
    width: 100%;
}

.img-formulario {
    border-radius: 1vh;
}

@media (max-width: 800px) {
    #opciones {
        width: 100%;
    }
    
}

.formulario-contacto {
    margin-bottom: 4rem;
}