form p{
    font-size: 15px;
    margin-top: 26px;
}

.img-formulario {
    border-radius: 1vh;
}

label {
    display: block; 
    padding: 10px 0px;  
}

input:not([type="submit"]), textarea, select {
padding: 12px;
    display: block;
    width: 100%;
    /* background: #e1e1e1; */
    background: rgba(191, 191, 191, 0.1);
    margin-bottom: 16px;
    border: none;
    /* border: .5px solid gray;  */
    border-radius: 1vh;
}

input[type="radio"] {
        width: auto;
        margin: 0px;
}

select {
    /* -webkit-appearance: none; */
    appearance: none;
}

textarea {
    height: 250px;
    width: 100%;
    resize: none;
}

fieldset {
    /* padding: 20px; */
    margin-bottom: 20px;
}

legend {
    font-size: 22px;
    font-weight: 300;
    color: mediumseagreen;
}
.forma-contacto {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    width: 200px;
    /* height: 40px; */
    text-align: center;
    /* padding: 10px; */
    /* align-items: center; */
}

/* ////////////////////////////////// */
/* CONTACTO */
.formulario-contacto {
    background: white;
    padding: 5rem;
}

.formulario-contacto {
    /* box-shadow: 10px 5px 5px rgba(0, 0, 0, .1); */
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
}

@media (min-width: 768px) {
    .formulario-contacto {
        margin-top: -35rem;
        display: flex;
        /* flex: 0 0 calc(83.3% - 0rem); */
        border-radius: 1vh;
        background: white;
    }
}

@media (max-width: 768px) {
    .formulario-contacto {
        /* background: rgba(0, 0, 0, 0.02); */
        border-radius: 1vh;
    }
}

.formulario-contacto .campo {
    display: block;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.formulario-contacto .campo label {
    flex: 0 0 8rem;
    padding: 10px;
}

.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto textarea {
    flex: 1;
    bordeR: 1px solid gray;
    padding: 1rem;
}

.formulario-contacto textarea {
    resize: none;
    height: 100%;
    width: 100%;
}

.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}

.btn-enviar {
    border: none;
    border-radius: 1vh;
    padding: 8px 12px;
    font-size: 1.8rem;
    background: brown;
    color: white;
}

@media (max-width: 768px) {
    .btn-enviar {
        border: none;
        border-radius: 1vh;
        padding: 7px 20px;
        font-size: 2.1rem;
        width: 100%;
        background: brown;
        color: white;
    }
}

.btn-enviar:hover {
    font-size: 2.1rem;
    background: brown;
    transition: .4s;
    cursor: pointer;
}

label:hover {
    color: brown;
}

input {
    width: 100%;
}