html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* GLOBALES */
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

img {
    max-width: 40%;
}

a {
    text-decoration: none;
}

/* UTILIDADES */
.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

/* HEADER */

@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-image: url(/img/4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    /* min-height: 500px; */
}

.site-header a {
    color: white;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.site-header h1 span {
    font-weight: 700;
}

/* NAVEGACION */

.navegacion a {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: white;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2.5rem;
    }

    .navegacion:last-of-type {
        margin-right: 2rem;
    }

    .site-header h1:last-of-type {
        margin-left: 4rem;
    }

    .subtitulo-consejos {
        font-size: 6rem;
    }

}

@media (max-width: 768px) {
    .subtitulo-consejos {
        font-size: 2.8rem;
        line-height: 4.8rem;
    }

}

/* HEADER TEXTO */
.texto-header {
    color: white;
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 15rem;
    }
}

.texto-header p {
    font-size: 2.2rem;
}

/* CONTENIDO PRINCIPAL HOME */
.contenido-principal {
    display: flex;
    flex-wrap: wrap;
}